:root {
  --container-width: 1440px;

  --space-0: 2px;
  --space-1: 4px;
  --space-6px: 6px;
  --space-2: 8px;
  --space-10px: 10px;
  --space-3: 12px;
  --space-3-half: 14px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-30px: 30px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;
  --space-50px: 50px;
  --space-60px: 60px;
  --space-80px: 80px;
  --space-100px: 100px;

  --fast-transition: 0.3s ease-in-out;
  --transition: 0.5s ease-in-out;

  --z-1: 1;
  --z-50: 50;
  --z-100: 100;
  --z-500: 500;
  --z-1000: 1000;
}
