.button {
  display: grid;
  align-items: center;
  transition: all var(--transition) !important;
  user-select: none;

  cursor: pointer !important;

  &.activeScale:active {
    scale: 0.95;
  }

  &.justifyCenter {
    justify-content: center;
  }
}

.orange-60 {
  background-color: var(--orange-60-primary);
  color: var(--white);

  @media screen and (any-hover: hover) {
    &:hover {
      background-color: var(--orange-80);
    }
  }

  &:active {
    background-color: var(--orange-100);
  }
}

.green-60 {
  background-color: var(--green-60-primary);
  color: var(--neutral-100);

  @media screen and (any-hover: hover) {
    &:hover {
      background-color: var(--green-80);
    }
  }

  &:active {
    background-color: var(--green-100);
  }
}

.black-border {
  border: 2px solid var(--neutral-100);
  span {
    color: var(--neutral-100);
  }

  @media screen and (any-hover: hover) {
    &:hover {
      background-color: var(--neutral-100);
      span {
        color: var(--white);
      }
    }
  }

  &:active {
    background-color: var(--neutral-80);
    span {
      color: var(--white);
    }
  }
}
