.container {
  padding: 0 var(--space-4);
  padding-top: var(--space-100px);
  padding-bottom: var(--space-50px);
  overflow-x: hidden;

  gap: var(--space-8);

  @media screen and (width <= 1280px) {
    gap: var(--space-10);
    padding: 0;
    padding-top: var(--space-80px);
    padding-bottom: var(--space-50px);
  }
}

.text {
  gap: var(--space-6);

  p {
    max-width: 670px;
  }

  @media screen and (width <= 1280px) {
    gap: var(--space-4);

    p {
      max-width: unset;
    }
  }
}
