.container {
  min-width: 280px;
  min-height: 343px;

  max-height: 343px;
  max-width: 280px;

  border-radius: var(--space-5);
  padding: var(--space-5);
  padding-right: var(--space-8);

  animation-name: levitation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.container:nth-child(1) {
  top: 0;
  left: 0;
  animation-duration: 10s;
}

.container:nth-child(2) {
  top: 117px;
  left: 27%;
  animation-duration: 8s;
}

.container:nth-child(3) {
  top: 9px;
  left: 52%;
  animation-duration: 15s;
}

.container:nth-child(4) {
  right: 0;
  top: 236px;
  animation-duration: 12s;
}

.container:nth-child(5) {
  top: 440px;
  left: 1%;
  animation-duration: 13s;
}

.container:nth-child(6) {
  bottom: 0;
  left: 36%;
  animation-duration: 9s;
}

.container:nth-child(7) {
  bottom: 55px;
  right: 12%;
  animation-duration: 10s;
  animation-delay: 1s;
}

@media screen and (width <= 1280px) {
  .container:nth-child(n) {
    position: relative;
    right: unset;
    bottom: unset;
    left: unset;
    top: unset;
    animation: none;
  }

  .container:nth-child(2n) {
    align-self: flex-end;
  }
}

.index {
  top: 0;
  right: 0;
  translate: 30px -30px;
  width: 104px;
  height: 104px;

  .star,
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  span {
    z-index: 1;
  }

  @media screen and (any-hover: hover) {
    &:hover {
      .star {
        rotate: 90deg;
      }
    }
  }
}

@keyframes levitation {
  0% {
    translate: 0 -3%;
  }
  25% {
    translate: -1% -1%;
  }
  50% {
    translate: 1% -1%;
  }
  75% {
    translate: 3% -3%;
  }
  100% {
    translate: 0 -3%;
  }
}
